# Snowflake Account Configuration
SNOWFLAKE_ACCOUNT_URL=https://<your account url>.snowflakecomputing.com
SNOWFLAKE_PAT=<your pat> # if not available then create a new one  https://docs.snowflake.com/en/user-guide/programmatic-access-tokens
# Cortex Agent Demo Configuration
CORTEX_AGENT_DEMO_PAT=<your pat>
CORTEX_AGENT_DEMO_HOST=<your account url>.snowflakecomputing.com
CORTEX_AGENT_DEMO_DATABASE=SALES_INTELLIGENCE
CORTEX_AGENT_DEMO_SCHEMA=DATA
CORTEX_AGENT_DEMO_AGENT=SALES_INTELLIGENCE_AGENT

# Semantic Model and Search Configuration
SEMANTIC_MODEL_FILE=@SALES_INTELLIGENCE.DATA.MODELS/sales_metrics_model.yaml
CORTEX_SEARCH_SERVICE=SALES_INTELLIGENCE.DATA.SALES_CONVERSATION_SEARCH

SNOWFLAKE_USER=<user name>
SNOWFLAKE_PASSWORD=<your password> # you can use same PAT for password if not available then create a new one
SNOWFLAKE_ACCOUNT=<your account>
SNOWFLAKE_WAREHOUSE=<your warehouse>
SNOWFLAKE_DATABASE=SALES_INTELLIGENCE
SNOWFLAKE_SCHEMA=DATA